body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #515076;
    background-image: url(../my-first-project/img/mfp-background.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    max-width: 1110px;
    margin: 0 auto;
}

.title {
    font-size: 70px;
    font-weight: 400;
    line-height: 78px;
    margin: 220px 0 110px 0;
    text-align: center;
}

.products-list {
    list-style: none;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    justify-content: center;
    margin-bottom: 115px;
}


.products-list-component {
    box-sizing: border-box;
    max-width: 340px;
    padding: 25px;
    background: #F7F7FA;
}

.product-photo {
    margin: 0 0 30px 0;
}

.product-type {
    display: block;
    color: #A5A3B9;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
}

.product-name {
    font-size: 20px;
    line-height: 27px;
    margin: 5px 0;
}

.description {
    line-height: 18px;
    margin: 0 0 15px 0;
}

.compound {
    line-height: 18px;
    margin: 0 0 5px 0;
    display: block;
}

.compound-description {
    line-height: 18px;
    margin-bottom: 20px;
    padding: 0 0 0 12px;
}

.compound-description li {
    margin-bottom: 5px;
}

.compound-description li:last-child {
    margin-bottom: 0px;
}

.product-price {
    font-size: 20px;
    line-height: 24px;
    
    display: flex;
    justify-content: space-between;
}

