.catalog__container {
    background-image: url(../img/mfp-background.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    padding-top: 170px;
    margin-bottom: 116px;
}

.catalog__title{
    margin-top: 50px;
    margin-bottom: 116px;
}